app-sortable-item.collapsed {
    height: 60px !important;
}
  
app-sortable-item.dragging {
    outline: 2px dashed #b8c8d6;
}

app-sortable-item {
    margin-bottom: 15px;
    overflow: hidden;
    transition: height 0.4s ease-out;
}