<div class="item-title">
    <app-editable-label [content]="item.Title" (contentChanged)="titleChanged($event)"></app-editable-label>
</div>
<div class="item-image">
    <img src="{{item.ImageUrl}}" alt="Item image" draggable="false">
    <div class="edit">
        <i class="far fa-edit" (click)="onEditImage()"></i>
        <i class="far fa-trash-alt" (click)="onRemoveImage()"></i>
    </div>    
</div>
<!-- This element is used as ghost image for whole draggable item. -->
<h3 class="item-title drag-image">{{item.Title}}</h3>