:host {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    border: 2px solid #d6cfcf;
    box-shadow: 0 4px 8px -5px #9a9494;
    background-color: #fff;    
}
  
.item-title {
    margin: 0;
    padding: 21px 10px 18px;
}
  
.drag-image {
    position: absolute;
    z-index: -1;
    width: 300px;
    background-color: #fff;
    border: 2px solid #d6cfcf;
    box-sizing: border-box;
    pointer-events: none;
}


.item-image:hover .edit{
    display: block;
}

.edit{
    color: black;
    padding-top: 60px;
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.remove{
    color: black;
    padding-top: 30px;
    padding-right: 18px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}