<app-header></app-header>
<div class="app-body">
  <div class="container">
    <ng-content></ng-content>
  </div>
  <div class="card-deck d-flex justify-content-center card-container">
    <div class="card">
      <div class="card-header">Preview</div>
      <div class="card-body">
        <app-accordion></app-accordion>
      </div>      
    </div>
    <div class="card">
      <div class="card-header">Configuration</div>
      <div class="card-body">
        <app-accordion-configuration></app-accordion-configuration>
      </div>      
    </div>
  </div>
  
</div>
<app-footer></app-footer>